class LevelrailCli < Formula
  desc "Command line client for Levelrail, a self-hosted deployment platform"
  homepage "https://levelrail.com"
  version "@VERSION@"
  license "Apache-2.0"

  on_macos do
    on_arm do
      url "https://github.com/glincker/levelrail/releases/download/@TAG@/levelrail-cli-darwin-arm64"
      sha256 "@SHA_DARWIN_ARM64@"
    end
    on_intel do
      url "https://github.com/glincker/levelrail/releases/download/@TAG@/levelrail-cli-darwin-amd64"
      sha256 "@SHA_DARWIN_AMD64@"
    end
  end

  on_linux do
    on_arm do
      url "https://github.com/glincker/levelrail/releases/download/@TAG@/levelrail-cli-linux-arm64"
      sha256 "@SHA_LINUX_ARM64@"
    end
    on_intel do
      url "https://github.com/glincker/levelrail/releases/download/@TAG@/levelrail-cli-linux-amd64"
      sha256 "@SHA_LINUX_AMD64@"
    end
  end

  def install
    bin.install Dir["levelrail-cli-*"].first => "levelrail-cli"
    generate_completions_from_executable(bin/"levelrail-cli", "completion")
  end

  test do
    assert_match "scriptable client", shell_output("#{bin}/levelrail-cli help")
  end
end
